@font-face {
    font-family: Ubuntu-Medium;
    src: url("~/assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("~/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

.menu-container {
    font-family: Montserrat-Regular;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    /* background-color: #6b7688; */
    background-color: #334961;
}

.menu-container>a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 10px 5px;
    z-index: 0;
    position: relative;
}

.menu-container a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 100%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu-container a:hover:after,
.menu-container a:focus:after {
    width: 100%;
    left: 0;
}