.timeline {
    width: 80%;
    height: auto;
    /* background-color:#0727363e; */
    color: #fff;
    padding: 30px 20px;
    /* box-shadow:0px 0px 10px rgba(0,0,0,.5); */
}

.timeline ul {
    list-style-type: none;
    border-left: 2px solid #1685b8;
    padding: 10px 5px;
}

.timeline ul li {
    margin-left: 10px;
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
    height: auto;
    transition: .5s;
}

.timeline ul li span {
    display: inline-block;
    background-color: #1685b8;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
}

.timeline ul li .content {
    width: 100%;
}

.timeline ul li .content h3 {
    color: #34ace0;
    font-size: 17px;
    padding-top: 5px;
    font-weight: 700;
    font-family: Montserrat-Regular;
}

.timeline ul li .content>p {
    padding: 5px 0px 15px 0px;
    font-size: 15px;
    font-family: Montserrat-Light;
}

.timeline ul li:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #34ace0;
    border-radius: 50%;
    left: -21px;
    top: 28px;
    transition: .5s;
}

.timeline ul li:hover {
    background-color: #071f2a2a;
    border-radius: 10px;
}

.timeline ul li:hover:before {
    background-color: #80a6b0;
    box-shadow: 0px 0px 10px 2px #80a6b0;
}


/* max width 500px  */

@media (min-width:301px) and (max-width: 550px) {
    .formation-page {
        flex-direction: column;
    }
    .timeline {
        width: 80%;
    }
}


/* max width 300px  */

@media (max-width:300px) {
    .timeline {
        width: 100%;
        padding: 30px 5px 30px 10px;
    }
    .timeline ul li .content h3 {
        color: #34ace0;
        font-size: 15px;
    }
}