@font-face {
    font-family: Ubuntu-Medium;
    src: url("~/assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("~/assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("~/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("~/assets/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: Montserrat-Thin;
    src: url("~/assets/fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
    font-family: Ubuntu-Light;
    src: url("~/assets/fonts/Ubuntu/Ubuntu-Light.ttf");
}




.page-enter-active,
.page-leave-active {
    transition: opacity .5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

body {
    overflow-x: hidden;
}

.wg-default,
.wg-default .country-selector {
    bottom: 0;
    position: fixed;
}


.nuxt-content h1 {
    font-weight: bold;
    font-size: 32px;
    font-family: Montserrat-Bold;
    margin-top: 10px;
    margin-bottom: 32px;
    color: #334961;
}

.nuxt-content h2 {
    font-weight: bold;
    font-size: 28px;
    padding-top: 24px ;
    margin-bottom: 24px;
    color: #1c2836;
}
.nuxt-content h3 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    color: #334961;
}
.nuxt-content p {
    margin-bottom: 20px;
    font-family: Montserrat-Light;
}

.nuxt-content .nuxt-content-highlight pre{
    background-color: #f7f8fa !important;
}

.nuxt-content code {
    background-color: #f7f8fa !important;
    color: gray !important;
}

.nuxt-content img[src*='#center'] {
    display: block;
    margin: auto;
}

.nuxt-content {
    overflow-x: hidden;
}

.nuxt-content .date-update{
    font-family: Montserrat-Thin;
    font-style: italic;
    margin-bottom: 50px;
}