.page-enter-active,
.page-leave-active {
    transition: opacity .5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

body {
    overflow-x: hidden;
}

.wg-default,
.wg-default .country-selector {
    bottom: 0;
    position: fixed;
    left: 0 !important;
    right: auto !important;
}